@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.button-animation {
  transform: scale(1);
  transition: all 0.3s ease;
}

.button-animation:active {
  transform: scale(0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.transition-transform {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.translate-y-0 {
  transform: translateY(0);
}

.-translate-y-full {
  transform: translateY(-100%);
}
